:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
  transition: all 0.4s;
  /* transition-timing-function: cubic-bezier(0.5, 3, 0, 1); */
}
.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

.btn-5 span {
  color: rgb(28, 31, 30);
  border: 2px solid #dc2626;
  transition: 0.2s;
}
.btn-5 span:hover {
  background-color: black;
  color: #dc2626;
  /* transform: scale(1.2, 1.2); */
}

.btn.hover-border-11::before,
.btn.hover-border-11::after {
  width: 100%;
  height: 2px;
  background-color: rgb(54, 56, 55);
  z-index: 2;
  transition: 0.35s;
}
.btn.hover-border-11::before {
  top: 0;
  right: 0;
}
.btn.hover-border-11::after {
  bottom: 0;
  left: 0;
}
.btn.hover-border-11:hover::before,
.btn.hover-border-11:hover::after {
  width: 0%;
  transition: 0.2s 0.2s ease-out;
}

.btn.hover-border-11 span::before,
.btn.hover-border-11 span::after {
  width: 2px;
  height: 100%;
  background-color: rgb(54, 56, 55);
  z-index: 2;
  transition: 0.25s;
}
.btn.hover-border-11 span::before {
  bottom: 0;
  right: -2px;
}
.btn.hover-border-11 span::after {
  top: 0;
  left: -2px;
}
.btn.hover-border-11 span:hover::before,
.btn.hover-border-11 span:hover::after {
  height: 0%;
}

.three {
  background: linear-gradient(#0f0f0f, #b72321);
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.5, 3, 0, 1);
}

.three:hover {
  transform: scale(1.1, 1.1);
}
